{% load i18n admin_static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-datetimepicker.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/metisMenu.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/timeline.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/morris.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/sb-admin-2.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/fileinput.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/typeaheadjs.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/chosen.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/app.css" %}" />
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->

<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>

{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div class="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% block branding %}{% endblock %}
            </div>

            
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{% url "accounts:logout" %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <div class="navbar-default sidebar" role="navigation" id="sidebar">
                <div class="sidebar-nav navbar-collapse">
                    <ul id="side-menu" class="nav">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input id="search" class="form-control" type="text" placeholder="Buscar..."/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </li>
                        {% if user.function == 'admin'%}
                        <li>
                            <a href="{% url "accounts:index" %}"><i class="fa fa-user fa-fw"></i> Usuarios</a>
                        </li>
                        {% endif %}
                        {% block sidebar-links %}
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </nav>
        <div id="page-wrapper" class="row">
                    {% block messages %}
                        {% if messages %}
                        <ul class="messagelist">
                            {% for message in messages %}
                              <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    {% endblock messages %}
                    <!-- Content -->
                    {% block content %}

                    {% endblock %}
                    <!-- END Content -->
                    {% block footer %}<div id="footer"></div>{% endblock %}

        </div>
</div>
<!-- END Container -->
    <script src="{% static "js/fileinput/fileinput.js" %}"></script>
    <script src="{% static "js/fileinput/fileinput_locale_es.js" %}"></script>
    <script src="{% static "js/chosen.jquery.js" %}"></script>
    {% block extra_scripts %} {% endblock %}
</body>
</html>
