{% extends "base_site_light.html" %}

{% block sidebar-links %}

<li><a href="{% url 'products:index' %}">Productos</a></li>
<li><a href="{% url 'products:list_brands' %}">Marcas</a></li>
<li><a href="{% url 'products:list_tags' %}">Categorias</a></li>

{% endblock %}