{% extends "base_products.html" %}
{% load i18n admin_static %}

{% load product_filters %}

{% block extrastyle %} {% endblock %}

{% block coltype %} {% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}{{ message.tags }}{% else %}alert-danger{% endif %} alert-dismissible" role="alert" style="margin-top:10px">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{message}}
            </div>
        {% endfor %}
    {%endif%}
{% endblock%}

{% block content %}
<div class="row">
    <h2 class="page-header">Categorias</h2>
</div>
<div class="row">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoria Padre</th>
            </tr>
        </thead>
        <tbody>
            {% for x in categorias %}
            <tr>
                <td><a href="tags/view/{{x.id}}">{{x.nombre}}</a></td>
                <td>{{x.categoria_padre}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">
    <button class="btn btn-primary" data-toggle="modal" data-target="#agregar-categoria">Agregar Categoria</button>
</div>

<div class="modal fade" id="agregar-categoria" tabindex="-1" role="dialog" aria-labelledby="agregar-categoria" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="AgregarCategoriaLabel">Agregar Categoria</h4>
            </div>
            <form class="form-horizontal" action="{% url 'products:create_tag' %}" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nombre" class="col-sm-3 control-label">Nombre</label>
                        <div class="col-sm-8"><input type="text" id="nombre" name="nombre" class="form-control" oninvalid="InvalidMsg(this);"  oninput="InvalidMsg(this);" required></div>
                    </div>
                    <div class="form-group">
                        <label for="categoria_padre" class="col-sm-3 control-label">Categoria Padre</label>
                        <div class="col-sm-8">
                            <select class="form-control chosen-select" name="categoria_padre" id="categoria_padre">
                                <option value="">Seleccionar</option>
                                {% for x in categorias %}
                                <option value="{{x.id}}">{{x.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar Categoria</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extrahead %}

<script type="text/javascript">
function InvalidMsg(textbox) {
    if (textbox.value == '') {
        textbox.setCustomValidity('Campo Requerido');
    }
    else if (textbox.validity.typeMismatch){
        textbox.setCustomValidity('Valor Invalido');
    }
    else {
       textbox.setCustomValidity('');
    }
    return true;
}
</script>

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
$(".chosen-select").chosen({max_selected_options: 1,width:"100%",no_results_text: "No se encontraron resultados"});
</script>
{% endblock %}
