{% load i18n staticfiles %}<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>IntraG8</title>

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />
    <link href="{% static "css/metisMenu.min.css" %}" rel="stylesheet" />
    <link href="{% static "css/sb-admin-2.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Por favor ingrese al sistema</h3>
                    </div>
                    <div class="panel-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}{{ message.tags }}{% else %}alert-danger{% endif %} alert-dismissible" role="alert" style="margin-top:10px">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{message}}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form action="{% url 'accounts:login' %}" method="POST">
                            {% csrf_token %} 
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Email" name="login" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="password" placeholder="Contraseña" name="password" value="">
                                </div>
                                <input type="hidden" value="#" name='current'>
				<input type="hidden" value="{{ next }}" name="next">
                                <button class="btn btn-lg btn-success btn-block">Ingresar</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/metisMenu.min.js" %}"></script>
    <script src="{% static "js/sb-admin-2.js" %}"></script>
</body>
</html>
