{% extends "base_products.html" %}
{% load i18n admin_static %}
{% load product_filters %}

{% block extrastyle %} {% endblock %}

{% block coltype %} {% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}{{ message.tags }}{% else %}alert-danger{% endif %} alert-dismissible" role="alert" style="margin-top:10px">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{message}}
            </div>
        {% endfor %}
    {%endif%}
{% endblock%}

{% block content %}

<div class="row">
    <h2 class="page-header">Marcas</h2>
</div>
<div class="row">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            {% for x in marcas %}
            <tr>
                <td><a href="brands/view/{{x.id}}">{{x.nombre}}</a></td>
                <td><img src="{{x.imagen|get_thumb}}"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">
	<button class="btn btn-primary" data-toggle="modal" data-target="#agregar-marca">Agregar Marca</button>
</div>

<div class="modal fade" id="agregar-marca" tabindex="-1" role="dialog" aria-labelledby="agregar-marca" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="AgregarMarcaLabel">Agregar Marca</h4>
            </div>
            <form enctype="multipart/form-data" class="form-horizontal" action="{% url 'products:create_brand' %}" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nombre" class="col-sm-3 control-label">Nombre</label>
                        <div class="col-sm-8"><input type="text" id="nombre" name="nombre" class="form-control" oninvalid="InvalidMsg(this);"  oninput="InvalidMsg(this);" required></div>
                    </div>
                    <div class="form-group">
                        <label for="foto" class="control-label col-sm-3">Subir Imagenes</label>
                        <div class="col-sm-8"><input name="foto" id="foto" type="file" class="file" data-show-upload="false" data-show-caption="false"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar Marca</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extrahead %}

<script type="text/javascript">
function InvalidMsg(textbox) {
    if (textbox.value == '') {
        textbox.setCustomValidity('Campo Requerido');
    }
    else if (textbox.validity.typeMismatch){
        textbox.setCustomValidity('Valor Invalido');
    }
    else {
       textbox.setCustomValidity('');
    }
    return true;
}
</script>

{% endblock %}