{% extends "base_products.html" %}
{% load i18n admin_static %}

{% load product_filters %}

{% block extrastyle %}
<style>
.note-group-select-from-files {
  display: none;
}
</style>
{% endblock %}

{% block coltype %} {% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}{{ message.tags }}{% else %}alert-danger{% endif %} alert-dismissible" role="alert" style="margin-top:10px">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{message}}
            </div>
        {% endfor %}
    {%endif%}
{% endblock%}

{% block content %}

<div class="row">
	<div>
		<h2 class="page-header">Productos</h2>
	</div>
</div>
<div class="row">
    <div class="pull-right">
        <form class="form-inline" method="GET" action=".">
            <div class="form-group">
                <label for="f1" id="CategoriaLabel" class="control-label">Categoria:</label>
                <select class="form-control filter-select" name="f1" multiple>
                    {% for x in categorias %}
                    <option value="{{x.id}}" {% if x.id|id_string in tag_filter %}selected{% endif %}>{{x.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="f2" id="MarcaLabel"  class="control-label">Marca:</label>
                <select class="form-control filter-select" name="f2" multiple>
                    {% for x in marcas %}
                    <option value="{{x.id}}" {% if x.id|id_string in brand_filter %}selected{% endif %}>{{x.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
            <a href="."><span class="btn btn-default">Ver Todos</span></a>
        </form>
    </div>
</div><br>
<div class="row">
	<table class="table table-hover table-striped table-bordered">
		<thead>
			<th>Codigo</th>
			<th>EAN</th>
			<th>Nombre</th>
			<th>Precio</th>
			<th>Activo</th>
			<th>Foto</th>
		</thead>
		<tbody>
			{% for x in productos %}
			<tr>
				<td><a href="view/{{x.id}}">{{x.codigo}}</td>
				<td>{{x.ean}}</td>
				<td>{{x.nombre}}</td>
				<td style="text-align:right;">{{x.precio}}</td>
				<td style="text-align:center;"><span class="label {% if x.activo %} label-success">Activo {% else %} label-warning">Inactivo {% endif %} </span></td>
				<td style="text-align:center;"><span class="label {% if x.foto1 != "" %} label-success">Si {% else %} label-danger">No {% endif %} </span></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="row">
	<button class="btn btn-primary" data-toggle="modal" data-target="#agregar-producto">Agregar Producto</button>
</div>

<div class="modal fade" id="agregar-producto" tabindex="-1" role="dialog" aria-labelledby="agregar-producto" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="AgregarProductoLabel">Agregar Producto</h4>
			</div>
			<form enctype="multipart/form-data" class="form-horizontal" action="{% url 'products:create_product' %}" method="post">
				<div class="modal-body">
					{% csrf_token %}
					<div class="form-group">
						<label for="codigo" class="col-sm-3 control-label">Codigo:</label>
						<div class="col-sm-8"><input type="text" name="codigo" id="codigo" class="form-control" oninvalid="InvalidMsg(this);"  oninput="InvalidMsg(this);" required></div>
					</div>
					<div class="form-group">
						<label for="ean" class="col-sm-3 control-label">EAN:</label>
						<div class="col-sm-8"><input type="text" name="ean" id="ean" class="form-control"></div>
					</div>
					<div class="form-group">
						<label for="nombre" class="col-sm-3 control-label">Nombre:</label>
						<div class="col-sm-8"><input type="text" name="nombre" id="nombre" class="form-control" oninvalid="InvalidMsg(this);"  oninput="InvalidMsg(this);" required></div>
					</div>
					<div class="form-group">
						<label for="categoria" class="col-sm-3 control-label">Categoria:</label>
						<div class="col-sm-8">
							<select class="form-control chosen-select" name="categoria" id="categoria">
								<option value="">Ninguna</option>
								{% for x in categorias %}
								<option value="{{x.id}}">{{x.nombre}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="marca" class="col-sm-3 control-label">Marca:</label>
						<div class="col-sm-8">
							<select class="form-control chosen-select" name="marca" id="marca">
								<option value="">Ninguna</option>
								{% for x in marcas %}
								<option value="{{x.id}}">{{x.nombre}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="precio" class="col-sm-3 control-label">Precio:</label>
						<div class="col-sm-8"><input type="text" name="precio" id="precio" class="form-control" oninvalid="InvalidMsg(this);"  oninput="InvalidMsg(this);" required></div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-8">
							<label class="radio-inline">
								<input type="radio" name="activo" id="activo1" value=1 checked> Activo
							</label>
							<label class="radio-inline">
								<input type="radio" name="activo" id="activo2" value="0"> Inactivo
							</label>
						</div>
					</div>
					<div class="form-group">
                                                <label for="summernote" class="col-sm-3 control-label">Descripcion:</label>
                                                <div class="col-sm-8">{{summernote.media}}{{summernote.summernote}}</div>
                                        </div>
					<div class="form-group">
						<label for="images" class="control-label col-sm-3">Subir Imagenes</label>
						<div class="col-sm-8"><input name="fotos" id="fotos" type="file" class="file" data-show-upload="false" data-show-caption="false" data-max-file-count=6 multiple></div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-primary">Guardar Producto</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}

{% block extrahead %}

<script type="text/javascript">
function InvalidMsg(textbox) {
    if (textbox.value == '') {
        textbox.setCustomValidity('Campo Requerido');
    }
    else if (textbox.validity.typeMismatch){
        textbox.setCustomValidity('Valor Invalido');
    }
    else {
       textbox.setCustomValidity('');
    }
    return true;
}
</script>

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
$(".chosen-select").chosen({max_selected_options: 1,width:"100%",no_results_text: "No se encontraron resultados",placeholder_text_single: "Escoge una"});
$(".filter-select").chosen({no_results_text: "No se encontraron resultados",width:"200px",placeholder_text_multiple: "Filtro"});
$(".filter-select").on('change', function(evt,params){
	evt.target.form.submit();
});
</script>
{% endblock %}
