{% extends "base_products.html" %}
{% load i18n admin_static %}
{% load product_filters %}

{% block extrastyle %} {% endblock %}

{% block coltype %} {% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div class="row">
    <h2 class="page-header">Editar {{tag.nombre}}</h2>
</div>

<form method="post" action="../edit/{{tag.id}}" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        <label for="nombre" class="col-sm-3 control-label">Nombre</label>
        <div class="col-sm-8"><input type="text" name="nombre" id="nombre" value="{{tag.nombre}}" class="form-control" oninvalid="InvalidMsg(this);"  oninput="InvalidMsg(this);" required></div>
    </div>
    <div class="form-group">
        <label for="categoria_padre" class="col-sm-3 control-label">Categoria Padre</label>
        <div class="col-sm-8"><select class="form-control chosen-select" name="categoria_padre" id="categoria_padre">
            <option value="">Seleccionar</option>
            {% for x in categorias %}
            <option value="{{x.id}}"{% if tag.categoria_padre == x %}selected{% endif %}>{{x.nombre}}</option>
            {% endfor %}
        </select></div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="pull-right" style="padding-bottom:15px">
                <a href=".."><span class="btn btn-danger">Regresar</span></a>
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block extrahead %}

<script type="text/javascript">
function InvalidMsg(textbox) {
    if (textbox.value == '') {
        textbox.setCustomValidity('Campo Requerido');
    }
    else if (textbox.validity.typeMismatch){
        textbox.setCustomValidity('Valor Invalido');
    }
    else {
       textbox.setCustomValidity('');
    }
    return true;
}
</script>

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
$(".chosen-select").chosen({max_selected_options: 1,no_results_text: "No se encontraron resultados"});
</script>
{% endblock %}
        
