{% extends "base_products.html" %}
{% load i18n admin_static %}

{% load product_filters %}

{% block extrastyle %}
<style>
.note-group-select-from-files {
  display: none;
}
</style>
{% endblock %}

{% block coltype %} {% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}{{ message.tags }}{% else %}alert-danger{% endif %} alert-dismissible" role="alert" style="margin-top:10px">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{message}}
            </div>
        {% endfor %}
    {%endif%}
{% endblock%}

{% block content %}

<div class="row">
    <div>
        <h2 class="page-header">{{product.codigo}}</h2>
    </div>
</div>
<div class="row">
    <form action="../edit/{{product.id}}" method="POST" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label for="codigo" class="col-sm-3 control-label">Codigo:</label>
            <div class="col-sm-8"><input type="text" name="codigo" id="codigo" class="form-control" value="{{product.codigo}}" oninvalid="InvalidMsg(this);"  oninput="InvalidMsg(this);" required></div>
        </div>
        <div class="form-group">
            <label for="ean" class="col-sm-3 control-label">EAN:</label>
            <div class="col-sm-8"><input type="text" name="ean" id="ean" class="form-control" value="{{product.ean}}"></div>
        </div>
        <div class="form-group">
            <label for="nombre" class="col-sm-3 control-label">Nombre:</label>
            <div class="col-sm-8"><input type="text" name="nombre" id="nombre" class="form-control" value="{{product.nombre}}" oninvalid="InvalidMsg(this);"  oninput="InvalidMsg(this);" required></div>
        </div>
        <div class="form-group">
            <label for="categoria" class="col-sm-3 control-label">Categoria:</label>
            <div class="col-sm-8">
                <select class="form-control chosen-select" name="categoria" id="categoria">
                    <option value="">Ninguna</option>
                    {% for x in categorias %}
                    <option value="{{x.id}}" {% if x.id == product.categoria.id %} selected {% endif %}>{{x.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="marca" class="col-sm-3 control-label">Marca:</label>
            <div class="col-sm-8">
                <select class="form-control chosen-select" name="marca" id="marca">
                    <option value="">Ninguna</option>
                    {% for x in marcas %}
                    <option value="{{x.id}}" {% if x.id == product.marca.id %}selected{% endif %}>{{x.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="precio" class="col-sm-3 control-label">Precio:</label>
            <div class="col-sm-8"><input type="text" name="precio" id="precio" class="form-control" value="{{product.precio}}" oninvalid="InvalidMsg(this);"  oninput="InvalidMsg(this);" required></div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
                <label class="radio-inline">
                    <input type="radio" name="activo" id="activo1" value=1 {% if product.activo == True %}checked{% endif %}> Activo
                </label>
                <label class="radio-inline">
                    <input type="radio" name="activo" id="activo2" value="0" {% if product.activo == False %}checked{% endif %}> Inactivo
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="summernote" class="col-sm-3 control-label">Descripcion:</label>
            <div class="col-sm-8">{{summernote.media}}{{summernote.summernote}}</div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="row">
                    {% for x in images|get_range %}
                        <div class="col-sm-2">
                            <a href="#" data-toggle="modal" data-target="#foto{{x|sum:1}}"><img src="{{images|get_item_from_list:x|get_thumb}}" class="img-responsive"></a>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for x in images|get_range %}
                        <div class="col-sm-2">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="borrar{{x|sum:1}}"> Borrar
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div><br>
        <div class="form-group">
            <label for="images" class="control-label col-sm-3">Subir Imagenes</label>
            <div class="col-sm-8"><input name="fotos" id="fotos" type="file" class="file" data-show-upload="false" data-show-caption="false" data-max-file-count=6 multiple></div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="pull-right" style="padding-bottom:15px">
                    <a href=".."><span class="btn btn-default">Regresar</span></a>
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
                <div class="pull-left" style="padding-bottom:15px">
                    <a href="#" data-toggle="modal" data-target="#BorrarProducto"><span class="btn btn-danger">Borrar Producto</span></a>
                </div>
            </div>
        </div>
    </form>
</div>

{% for x in images|get_range %}

<div class="modal fade" id="foto{{x|sum:1}}" tabindex="-1" role="dialog" aria-labelledby="foto{{x|sum:1}}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <img src="{{images|get_item_from_list:x}}" class="img-responsive">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endfor %}

<div class="modal fade" id="BorrarProducto" tabindex="-1" role="dialog" aria-labelledby="BorrarProducto">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Borrar {{producto.nombre}}</h2>
      </div>
      <form method="post" action="../delete/{{product.id}}">
      {% csrf_token %}
        <div class="modal-body">
            <p>Esta accion no podra ser revertida!</p>
        </div>
        <div class="modal-footer">
            <input type="hidden" name="id" id="id" value="{{product.id}}">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-danger">Borrar!</button>
        </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extrahead %}

<script type="text/javascript">
function InvalidMsg(textbox) {
    if (textbox.value == '') {
        textbox.setCustomValidity('Campo Requerido');
    }
    else if (textbox.validity.typeMismatch){
        textbox.setCustomValidity('Valor Invalido');
    }
    else {
       textbox.setCustomValidity('');
    }
    return true;
}
</script>

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
$(".chosen-select").chosen({max_selected_options: 1,no_results_text: "No se encontraron resultados"});
var desc = "{{product.descripcion}}";
$(document).ready(function(){
    $("#{{summernote.summernote.id_for_label}}").summernote('code',{% autoescape off %}"{{product.descripcion}}"{% endautoescape %});
});
</script>
{% endblock %}
