{% extends "base_products.html" %}
{% load i18n admin_static %}
{% load product_filters %}

{% block extrastyle %} {% endblock %}

{% block coltype %} {% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="row">
    <h2 class="page-header">Editar {{marca.nombre}}</h2>
</div>
<form enctype="multipart/form-data" class="form-horizontal" action="../edit/{{marca.id}}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="nombre" class="col-sm-3 control-label">Nombre</label>
        <div class="col-sm-8"><input type="text" id="nombre" name="nombre" class="form-control" value="{{marca.nombre}}" oninvalid="InvalidMsg(this);"  oninput="InvalidMsg(this);" required></div>
    </div>
    {% if marca.imagen != '' %}
    <div class="row">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4"><img class="img-responsive" src="{{marca.imagen|get_thumb}}"></div>
        </div><br>
        <div class="row">
            <div class="col-sm-offset-5 col-sm-3">
                <label for="borrar">Borrar <input type="checkbox" name="borrar" id="borrar"></label>
            </div>
        </div>
    </div>
    {% else %}
    <input type="hidden" name="borrar" id="borrar" value="">
    {% endif %}
    <div class="form-group">
        <label for="foto" class="control-label col-sm-3">Subir Imagenes</label>
        <div class="col-sm-8"><input name="imagen" id="imagen" type="file" class="file" data-show-upload="false" data-show-caption="false"></div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="pull-right" style="padding-bottom:15px">
                <a href=".."><span class="btn btn-danger">Regresar</span></a>
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block extrahead %}

<script type="text/javascript">
function InvalidMsg(textbox) {
    if (textbox.value == '') {
        textbox.setCustomValidity('Campo Requerido');
    }
    else if (textbox.validity.typeMismatch){
        textbox.setCustomValidity('Valor Invalido');
    }
    else {
       textbox.setCustomValidity('');
    }
    return true;
}
</script>

{% endblock %}